.banner-main-title {
  font-size: 30px;
  font-weight: bold;
}

.banner-main-buttons-top {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .banner-main-buttons-top {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .banner-main-title {
    font-size: 25px;
    text-align: center;
  }

  .banner-main-buttons-top {
    justify-content: center;
  }
}
