.content img {
  max-width: 100% !important;
  height: auto !important;
}

.content p {
  font-size: 20px;
}

@media screen and (max-width: 1500px) {
  .content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  .content table {
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .content table {
    display: block;
    overflow-x: auto;
  }

  .content tbody {
    display: flex;
    justify-content: center;
    width: 100% !important;
  }

  .content tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content td {
    margin-bottom: 10px;
  }

  .content video {
    width: 100% !important;
    height: auto !important;
  }

  .content p {
    font-size: 14px;
  }
}
