.service-card {
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.service-card:hover {
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.459);
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}

.service-name {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.service-title {
  font-size: 30px;
  font-weight: bold;
}

.service-buttons-top {
  display: flex;
  justify-content: end;
}

@media (max-width: 750px) {
  .service-title {
    font-size: 25px;
    text-align: center;
  }

  .service-buttons-top {
    justify-content: center;
  }
}
