/* Contenido */
.content img {
  max-width: 100% !important;
  height: auto;
}

.content table {
  width: 100% !important;
}

.content table td {
  width: 30% !important;
}

.content video {
  max-width: 100% !important;
  height: auto;
}

@media (max-width: 750px) {
  .content h1 {
    font-size: 22px !important;
  }
}

@media (max-width: 350px) {
  .content h1 {
    font-size: 20px !important;
  }
}