.linkButton{
    background-color: #00743B;
    color: white;
    padding:0.6% 4% 0.6% 4%;
    border-radius: 0px 20px 20px 20px;
    text-decoration: none;
}
.container-info{
    margin-top: 5%;
    padding: 15px;
    padding-left: 25%;
    font-size: 1rem;
}
.image-info{
    object-fit: cover;
    object-position: 0px 0px;
}

@media (min-width:1200px) {
    .container-info{
        padding: 30px;
        padding-left: 20%;
        font-size: 2rem;
    }
    .container-info h2{
        font-size: 3rem;
    }
}

@media (max-width:1199px) {
    .container-info{
        padding: 30px;
        padding-left: 20%;
        font-size: 1.5rem;
    }
    .container-info h2{
        font-size: 2rem;
    }
}

@media (max-width:800px) {
    .container-info{
        padding: 30px;
        padding-left: 20%;
        font-size: 1rem;
    }
    .container-info h2{
        font-size: 2rem;
    }
}

@media (max-width:650px) {
    .container-info{
        padding: 1px;
        padding-left: 20%;
        font-size: 0.8rem;
    }
    .container-info h2{
        font-size: 1rem;
    }

    .image-info{
        object-position: 0px 0px;
    }
    
}

@media (max-width:415px) {

    .image-info{
        object-position: -30px 0px;
    }
}


@media (max-width:330px) {
    .container-info{
        padding: 5px;
        padding-left: 22%;
        font-size: 0.7rem;
    }
    .container-info h2{
        font-size: 0.9rem;
    }
}