@media (min-width: 1400px) {
  .carousel h3 {
    font-size: 20px !important;
  }

  .carousel p {
    font-size: 18px !important;
  }
  .carousel a {
    font-size: 25px !important;
  }
}

@media (max-width: 1000px) {
  .carousel h3 {
    font-size: 18px !important;
  }

  .carousel p {
    font-size: 16px !important;
  }
  .carousel a {
    font-size: 20px !important;
  }
}

@media (max-width: 550px) {
  .carousel h3 {
    font-size: 16px !important;
  }

  .carousel p {
    font-size: 15px !important;
  }
  .carousel a {
    font-size: 10px !important;
  }
}

@media (max-width: 400px) {
  .carousel h3 {
    font-size: 15px !important;
  }

  .carousel p {
    font-size: 12px !important;
  }
  .carousel a {
    font-size: 10px !important;
  }
}

@media (max-width: 300px) {
  .carousel h3 {
    font-size: 11px !important;
  }

  .carousel p {
    font-size: 9px !important;
  }
  .carousel a {
    font-size: 8px !important;
  }
}
