.custom-navbar {
	background-color: #00743B;
	/* background-color: #cfe3de; */
    /* another color for hover (yellow) #FFCC00 */
    /* another green #34A350  */
	color: #fff;
}

.custom-navbar .nav-link {
	color: #ccc;
    
}
